* {
  box-sizing: border-box;
}

h1 {
  font-size: 700%;
}
h2 {
  font-size: 225%;
}
h3 {
  font-size: 200%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 15rem;
  border: black;
  border-style: solid;
  border-width: 2px;
}

aside {
  border: black;
  border-style: solid;
  border-width: 2px;
}

img:hover {
  transition: 1s ease-in-out all 0s;
  padding: 15px;
  margin: 5px;
  background-color: lightblue;
  cursor: pointer;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
}

/*layout of page*/
.page__container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.main__container {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.navigation {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side__button {
  width: 85%;
  height: 3rem;
}

.feed {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: black;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
}

.card {
  width: 100%;
  height: fit-content;
  border: grey;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  overflow-y: scroll;
}

.separator {
  width: 100%;
  top: 50%;
  background-color: black;
}

.side__button {
  border: grey;
  border-style: solid;
  border-width: 2px;
  font-size: 1.5vw;
}

/* Colors for reference (Probably gonna do this the way Austin said. It will
be in a seperate CSS file) */
header,
aside {
  background-color: #d9d2e9;
}

body {
  background-color: #d0e0e3;
}

.card {
  background: linear-gradient(180deg, white 50%, #ead1dc 50%);
}

.feed {
  background-color: white;
}

.side__button {
  background-color: #fff2cc;
}
