* {
  box-sizing: border-box;
}

h1 {
  font-size: 700%;
}
h2 {
  font-size: 225%;
}
h3 {
  font-size: 200%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 15rem;
  border: black;
  border-style: solid;
  border-width: 2px;
}

aside {
  border: black;
  border-style: solid;
  border-width: 2px;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
}

/*layout of page*/
.page__container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.main__container {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.navigation {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side__button {
  width: 85%;
  height: 3rem;
}

.feed {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: black;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 12rem;
  border: grey;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  overflow-y: scroll;
}

.separator {
  width: 100%;
  top: 50%;
  background-color: black;
}

.side__button {
  border: grey;
  border-style: solid;
  border-width: 2px;
  font-size: 1.5vw;
}

.modal-content {
  height: 70%;
  width: 70%;
  background-color: #dae9d4;
  border-radius: 80px;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
}

.your-profile-picture {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
  margin: 5%;
}

.info-card {
  display: flex;
  flex-flow: column;
}

.option-holder {
  display: flex;
  flex-flow: row;
}
.theme-box {
  min-width: 50%;
}

.switch {
  background-color: white;
  min-width: 130px;
  min-height: 128px;
  border: solid;
  min-width: 50%;
}
.name-space {
  border: solid;
}

.bio-box {
  border: solid;
  max-height: 128px;
  max-width: 50%;
}

/* Colors for reference (Probably gonna do this the way Austin said. It will
be in a seperate CSS file) */
header,
aside {
  background-color: #d2e0e3;
}

body {
  background-color: #d7d1e9;
}

.card {
  background: linear-gradient(180deg, white 50%, #d7d1e9 50%);
}

.feed {
  background-color: #c8dafa;
}

.side__button {
  background-color: #c8dafa;
}

