* {
  box-sizing: border-box;
}

h1 {
  font-size: 700%;
}
h2 {
  font-size: 225%;
}
h3 {
  font-size: 200%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 15rem;
  border: black;
  border-style: solid;
  border-width: 2px;
  height: fit-content;
}

aside {
  border: black;
  border-style: solid;
  border-width: 2px;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
}

/*layout of page*/
.page__container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.main__container {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.navigation {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*PROFILE STYLING*/
.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 85%;
  background-color: var(--primary-profile);
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius:10px;
  padding:0.5rem;
  margin:1rem;
}
.profile__figure {
  width: 60%;
  height:60%;
  display:flex;
  align-items:center;
}

.profile__username {
  display: flex;
  /*width: 90%;*/
  height: 50px;
  /*border: black;
  border-style: solid;*/
  border-width: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.side__button {
  width: 85%;
  height: 3rem;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.card {
  width: 100%;
  height: fit-content;
  border: grey;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  overflow-y: scroll;
  height: fit-content;
  margin-bottom: 3rem;
}
.media {
  background-color:white;
  padding:1.5rem;
}
.content {
  background-color:var(--primary-card);
  padding:1.5rem;
}
.card-content {
  padding:0px;
}
.nav__button {
  /*border: grey;
  border-style: solid;
  border-width: 2px;*/
  font-size: 1.5vw;
}
/**/

/* Media Queries */
@media only screen and (min-width: 1200px) {
  .card {
    width: 85%;
  }
}

/* Color declarations */
body {
  background-color: var(--primary-background-color);
}

header,
aside {
  background-color: var(--primary-frame);
}


/*.card {

.page__name {
  color: var(--primary-card);
}

.card {

  background: linear-gradient(180deg, white 50%, var(--primary-card) 50%);
}*/

.profile__username {
  background-color: var(--primary-profile);
}

.profile__container {
  background-color: var(--primary-profile);
}

.side__button {
  background-color: var(--primary-card);
}
